.Form {
  position: relative;

  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.Form-control {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.Form-control__text,
.Form-control__button-add {
  padding: 10px;
}

.Form-control__text {
  width: 300px;
  padding: 10px;

  font: inherit;

  color: inherit;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 5px;

  resize: none;

  overflow-wrap: break-word;
}

.Form-control__button-add {
  position: absolute;
  top: 3px;
  right: 3px;

  font-size: 18px;
  line-height: 1;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;

  cursor: pointer;
}
